<div class="d-flex justify-content-center mb-2 content">
    <button class="btn btn-primary addbtn m-2" (click)="open(content)">Add</button>
    <button class="btn btn-primary addbtn m-2" (click)="toDelete($event)">Remove Bought</button>
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add To {{nameoflist}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <input type="text" placeholder="Type to add item" class="form-control mb-2" #list required>
            <input type="text" placeholder="Quantity" class="form-control" #qty>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="modal.close()">Close</button>
            <button type="button" class="btn btn-outline-dark" (click)="addlist(list.value, qty.value)">Save</button>
        </div>
    </ng-template>
</div>