<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div class="container m-2">
  <div class="row justify-content-center">
    <div class="col-12 ">
      <div class="input-group mb-3 wholecard">
        <input type="text" class="form-control" placeholder="Create New list" aria-label="create list" aria-describedby="button-addon2" #createlist pattern="[a-zA-Z ]*" />
        <button class="btn btn-outline-secondary" style="background-color: #5fa3f4; color: white;" type="button" id="button-addon2" (click) = "newList(createlist.value)">Create List</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4" *ngFor = "let sl of shoppinglist" >
      <div *ngFor = "let l of sl | keyvalue">
        <div class="content p-0 m-0" *ngFor = "let l of sl | keyvalue">
          <div class="d-flex header">
            <h1 class="m-4">{{l.key}}</h1>
            <span class="mt-4"><i class="fas fa-trash-alt icon" (click) = "removeList(l.key)"></i></span>
          </div>
        </div>
        <div class="content shoppinglist pr-0">
          <ul>
              <li *ngFor = "let task of l.value">
                  <span id="listp" *ngIf="task.completed">{{task.name}}</span>
                  <span *ngIf="task.completed == false">{{task.name}} </span>
                  <label class="chkcontainer" *ngIf="task.completed"><input type="checkbox" name="" [attr.listid] ="task.id" (click) = "toComplete($event, l.key)" checked  /> <span class="checkmark"></span></label>
                  <label class="chkcontainer" *ngIf="task.completed == false"><input type="checkbox" name="" [attr.listid] ="task.id" (click) = "toComplete($event, l.key)"  /> <span class="checkmark"></span></label>
                  <p class="qty">QTY: {{task.qty}}</p>
              </li>
          </ul>                
        </div>  
        <app-shoppinginput [shoppinglist] = "sl" [nameoflist] = "l.key"></app-shoppinginput>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row justify-content-center" >
    <div class="col-md-4" *ngFor = "let l of shoppinglist | keyvalue">
      <div class="col-md-4 pl-0 pr-0 mb-0 content">
        <h1 class="">My Shopping List</h1>
      </div>
      <div class="w-100"></div>
      <div class="col-md-4 pl-0 pr-0 mt-0 content shoppinglist">
        <ul>
            <li *ngFor = "let task of l.value">
                <span id="listp" *ngIf="task.completed">{{task.name}}</span>
                <span *ngIf="task.completed == false">{{task.name}} </span>
                <label class="chkcontainer" *ngIf="task.completed"><input type="checkbox" name="" [attr.listid] ="task.id" (click) = "toComplete($event)" checked  /> <span class="checkmark"></span></label>
                <label class="chkcontainer" *ngIf="task.completed == false"><input type="checkbox" name="" [attr.listid] ="task.id" (click) = "toComplete($event)"  /> <span class="checkmark"></span></label>
                <p class="qty">{{task.qty}}</p>
            </li>
        </ul>                
      </div>  
    </div>      
  </div>
</div> -->


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


